.paragraphs {
  color: #afc2d5;
  text-align: justify;
}

.container {
  display: flex;
  margin: 4.5em;
}

.rightContainer {
  display: flex;
  margin: 5vw;
}

.sectionsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.meFrame {
  width: 40%;
  align-self: center;
}

.me {
  border: solid;
  border-color: whitesmoke;
  box-shadow: 16px -16px #6193bc;
}

.aboutText {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 0 3% 0 0;
}

.workHeader {
  width: 25%;
  min-width: fit-content;
  display: flex;
  padding: 0.3em 0.3em 0 0.3em;
  border: solid;
  border-color: whitesmoke;
  background-color: #0e0e0e;
  color: #b5c5ca;
  box-shadow: 10px -10px #6193bc;
  margin-bottom: 2.5em;
}

.workHeaderText {
  margin: 0;
  padding: 0.17em;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  margin: 0 3vw 3em 1vw;
}

.sectionTextContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sectionHeader {
  display: flex;
  color: #6193bc;
  width: max-content;
  border-bottom: solid;
  border-color: whitesmoke;
  margin: 0 0 0.5em 0.5em;
}

.sectionText {
  display: flex;
  flex-direction: column;
  margin: 0 2vw 0 2vw;
}

.jobTitleContainer {
  display: flex;
  flex-direction: column;
}

.jobDescription {
  margin: 0;
  font-style: italic;
  color: #afc2d5;
  text-align: justify;
}

.companyTimeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5vw 0 1.5vw;
}

.companyTime {
  color: #b5c5ca;
  font-size: 1.2em;
  margin: 0 0 0.5em 0;
}

.photoContainer {
  width: 50%;
  display: flex;
  align-items: center;
}

.photoFrame {
  background-color: whitesmoke;
  display: flex;
  border-radius: 15%;
  width: 100%;
  border: solid;
  border-color: #0e0e0e;
  box-shadow: 10px -10px #b5c5ca;
  margin-bottom: 2.5em;
}

.vPhoto {
  margin: 0 0 0 0;
  border-radius: 15%;
  object-fit: scale-down;
  width: 100%;
}

.link,
.link:visited {
  color: whitesmoke;
  text-decoration: none;
  transition: all 0.2s;
  border-bottom: 1px solid whitesmoke;
}

.link:hover,
.link:active {
  color: #6193bc;
  border-bottom: 2px solid #6193bc;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logo {
  display: flex;
  flex-direction: column;
  margin: 0 0 0.4em 0;
}

.resize {
  width: 2em;
  margin: 0em;
  align-self: center;
}

.resize:hover {
  width: 2em;
  margin: 0em;
  align-self: center;
  transition: all 0.2s;
  filter: brightness(0) saturate(100%) invert(61%) sepia(11%) saturate(1569%)
    hue-rotate(165deg) brightness(88%) contrast(91%);
}

.logoText {
  color: #6193bc;
}

.introText {
  font-size: 1.2em;
  color: whitesmoke;
}

.hoverTextContainer {
  height: 1em;
  align-self: center;
}

.hoverText {
  font: 400 1em;
  color: whitesmoke;
  margin: 1em 0em 0em 0em;
}

.contact {
  font: 400 1em;
  color: whitesmoke;
  align-self: center;
  margin: 1em 0em 0em 0em;
  display: flex;
}

.greenText {
  color: #80e1ff;
}

.greyText {
  color: #24282b;
  padding: 0 0.5em 0 0;
}

.contactsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contactFrame {
  width: 25%;
  min-width: fit-content;
  padding: 0.3em 0.3em 0 0.3em;
  border: solid;
  border-color: whitesmoke;
  background-color: #0e0e0e;
  color: #b5c5ca;
  box-shadow: 10px -10px #6193bc;
  margin-bottom: 2.5em;
  transition: all 0.2s;
}

.contactFrame:hover {
  width: 25%;
  min-width: fit-content;
  padding: 0.3em 0.3em 0 0.3em;
  border: solid;
  border-color: whitesmoke;
  background-color: #0e0e0e;
  color: #b5c5ca;
  box-shadow: 5px -5px #6193bc;
  margin-bottom: 2.5em;
}

.contact {
  padding: 0.5em;
  margin: 0;
  font-size: 1.2em;
}

.contactLink,
.contactLink:visited {
  color: whitesmoke;
  text-decoration: none;
  transition: all 0.2s;
  border-bottom: 1px solid whitesmoke;
}

.contactLink:hover,
.contactLink:active {
  color: #6193bc;
  border-bottom: 1px solid #6193bc;
}

@media only screen and (max-width: 600px) {
  .paragraphs {
    font-size: 0.8em;
  }
  .rightContainer {
    flex-direction: column-reverse;
    margin: 3vw;
  }
  .aboutText {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 3%;
  }
  .introText {
    font-size: 0.9em;
    margin: 3% 0 0 0;
  }
  .meFrame {
    width: 70%;
    align-self: center;
  }
  .me {
    box-shadow: 8px -8px #6193bc;
  }
  .workHeader {
    box-shadow: 5px -5px #6193bc;
    margin-bottom: 1em;
  }
  .workHeaderText {
    margin: 0;
    padding: 0.17em;
    font-size: 1em;
  }
  .sectionHeader {
    font-size: 1em;
  }
  .photoContainer {
    display: none;
  }
  .companyTime {
    display: none;
  }
  .contact {
    padding: 0 0 0.5em 0;
    margin: 0;
    font-size: 3vw;
  }
}
