.header {
  background-color: #6193bc;
  color: whitesmoke;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameLinks {
  margin: 0.5em;
}

.name {
  font-size: 1.2em;
  font-weight: 400;
  color: whitesmoke;
}

.links {
  color: whitesmoke;
  font-size: 0.8em;
  padding: 0.5em;
}

.logos {
  color: whitesmoke;
  font-size: 0.8em;
  padding: 0em;
  display: flex;
}

.resize {
  width: 2em;
}

a,
a:visited {
  color: whitesmoke;
  padding: 0 0.5em 0 0.5em;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover,
a:active {
  filter: invert(93%);
  padding: 0 0.5em 0 0.5em;
}
