.header {
  color: whitesmoke;
  background-color: #0e0e0e;
}

.textContainer {
  display: flex;
  justify-content: space-between;
}

.nameLinks {
  margin: 0.5em;
}

.name {
  font-size: 2em;
  font-weight: 400;
  color: #b5c5ca;
  margin: 0;
  padding: 0 0.5em 0 0.5em;
}

.links {
  color: whitesmoke;
  font-size: 1.2em;
  padding: 0.2em 0.5em 0 1.8em;
}

.logos {
  color: whitesmoke;
  padding: 0em;
  display: flex;
  align-items: center;
}

.resize {
  margin: 0.8em;
  width: 2em;
}

.resize:hover {
  margin: 0.8em;
  width: 2em;
  filter: grayscale(100%) brightness(45%) sepia(100%) hue-rotate(-185deg)
    saturate(200%) contrast(0.8);
}

.link,
.link:visited {
  color: whitesmoke;
  padding: 0 0.5em 0 0.5em;
  text-decoration: none;
  transition: all 0.2s;
  border-bottom: 2px solid transparent;
}

.link:hover,
.link:active {
  color: #6193bc;
  padding: 0 0.5em 0 0.5em;
  border-bottom: 2px solid #6193bc;
}

.line {
  border: 0;
  height: 0.5px;
  background-color: #484e50;
}

.active {
  color: red;
  padding: 0 0.5em 0 0.5em;
  border-bottom: 2px solid #b5c5ca;
}
