.header {
  color: #0e0e0e;
  margin: 0;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  background-color: #ebebeb;
}

.nameLinks {
  margin: 0.5em;
}

.name {
  font-size: 2em;
  font-weight: 400;
  color: #66858f;
  margin: 0;
  padding: 0 0.5em 0 0.5em;
}

.links {
  color: #b5c5ca;
  font-size: 1.2em;
  padding: 0.1em 0.5em 0 2em;
}

.logos {
  color: #b5c5ca;
  margin: 0em 0.5em;
  padding: 0em;
  display: flex;
  align-items: center;
}

.resize {
  margin: 0.8em;
  width: 2em;
  fill: #b5c5ca;
}

.resize:hover {
  margin: 0.8em;
  width: 2em;
  transition: all 0.2s;
  filter: brightness(0) saturate(100%) invert(61%) sepia(11%) saturate(1569%)
    hue-rotate(165deg) brightness(88%) contrast(91%);
}

.link,
.link:visited {
  color: black;
  font-weight: 300;
  padding: 0 0.5em 0 0.5em;
  text-decoration: none;
  transition: all 0.2s;
  border-bottom: 2px solid transparent;
}

.link:hover,
.link:active {
  color: #6193bc;
  padding: 0 0.5em 0 0.5em;
  border-bottom: 2px solid #6193bc;
}

.line {
  border: 0;
  height: 0.5px;
  background-color: #484e50;
}

@media only screen and (max-width: 600px) {
  .name {
    font-size: 1.5em;
    font-weight: 400;
    color: #b5c5ca;
    margin: 0;
    padding: 0.2em 0.5em 0.1em 0.5em;
  }
  .links {
    color: whitesmoke;
    font-size: 1.1em;
    padding: 0.1em 0.5em 0 2em;
  }
}
